@tailwind base;

@tailwind components;

@tailwind utilities;


/* Custom CSS*/
button {
  outline: none !important;
}

body {
  font-family: 'Rubik', Courier, monospace;
  color: black;
  overflow-x: hidden;
}

#skills-header, #projects-header, #contact-header{
  transform: rotate(-90deg);
}

#submit-form:hover #rec-custom {
  fill: black;
}

.golang-blue {
  color: #72CEDD !important;
}


@media screen and (min-width : 1520px)
  {
  #greetings {
    font-size: 100px;
  }
  #tagline {
    font-size: 40px;
  }
  #header-title {
    margin-bottom: 8%;
    margin-top: 11%;
  }
}

@media screen and (min-width : 2560px)

  {
    #greetings {
      font-size: 130px;
    }
  #tail-section {
    margin-top: 11%;
  }
  #skill-image {
    height: 4rem;
  }
  #header-title {
    margin-bottom: 10.4%;
    margin-top: 15%;
  }
}