@tailwind base;

@tailwind components;

@tailwind utilities;


/* Custom CSS*/
button {
  outline: none !important;
}

body {
  font-family: 'Rubik', Courier, monospace;
  color: black;
  overflow-x: hidden;
}

#skills-header, #projects-header, #contact-header{
  transform: rotate(-90deg);
}